body {
  margin: 0;
  font-family: 'Ibarra Real Nova', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: aqua;
}
